[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/go"]
	path = .vim/bundle/go
	url = https://github.com/uggedal/go-vim
[submodule ".vim/bundle/vim-ios"]
	path = .vim/bundle/vim-ios
	url = git@github.com:eraserhd/vim-ios.git
[submodule ".vim/bundle/cocoa.vim"]
	path = .vim/bundle/cocoa.vim
	url = git://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
